*.swp *~

# Input/Output data
AMAZON_FASHION_5.json.gz
FAReviews_prods.pkl
FAReviews_reviews.csv
GoogleNews-vectors-negative300.bin.gz
1_*
AF*
IS*
LB*
slurm*
speed*
*.sh
*.whl
*.csv

# Folders
*/
!utils/
!argue
!.github


# Mac
.DS_Store

# Performance tests
test*
*.lprof