datetime
gensim>=4.0.0
networkx>=2.8.0
nltk>=3.7
numpy>=1.23
pandas>=1.4
pengines>=0.1.8
pyemd>=0.5
psutil
pytextrank
requests
scikit-learn
spacy<3.0
spacy-legacy==3.0.9
spacy_readability>=1.4.1
networkx>=2.8.0
pandas>=1.4
nltk>=3.7
scikit-learn
numpy>=1.23
gensim>=4.0.0
pengines>=0.1.8
pyemd>=0.5
psutil
